DB_NAME=
PORT=
PARSING_SERVER_API_KEY=

MAIN_SERVER_URL=
MAIN_SERVER_API_KEY=

OPENAI_API_KEY=
OPENAI_MODEL=

EVENTIM_URL=
EVENTIM_USERNAME=
EVENTIM_PASSWORD=

TICKETMASTER_API_KEY=

ISRAELINFO_LOGIN=
ISRAELINFO_PASSWORD=
ISRAELINFO_PARTNERS_URL=

LOG_LEVEL=
