PORT=
DB_NAME=
PARSING_SERVER_API_KEY=

EVENTIM_URL=
EVENTIM_USERNAME=
EVENTIM_PASSWORD=

TICKETMASTER_API_KEY=

LOCAL_ENCRYPT_SALT=

OPENAI_API_KEY=
OPENAI_MODEL=

MAIN_SERVER_URL=
MAIN_SERVER_API_KEY=

ISRAELINFO_LOGIN=
ISRAELINFO_PASSWORD=
ISRAELINFO_PARTNERS_URL=
